{% extends 'app.html' %}

{% block body %}
{% load humanize %}
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Manual Funding</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
                                            <li class="breadcrumb-item active"><a href="{% url 'service' %}">Services</a></li>
                                            <li class="breadcrumb-item active">Manual Funding</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="container w-50 h-100">
                                <div class="row h-100 justify-content-center align-items-center">
                                  <form class="col-12" id="manual">
                                    <div id="output" class="text-center font-weight-600 uppercase hide alert"></div>
                                    <div id="code_ussd" class="" style="display: none;">
                                        <div class="ussd_code">
                                            <input id="ussd_code" class="form-control" value="" disabled/>
                                        </div> <br>
                                        <a href="javascript:;" id="clickCopy">
                                            <span>Click the here to copy</span>
                                        </a><br><br><br>
                                    </div>
                                    <div class="form-group">
                                        <label for="bank">Select Bank </label>
                                        <select id="bank" class="form-control" required>
                                            <option disabled selected>Choose Bank</option>
                                            <option value="058">Guaranty Trust Bank (GTB)</option>
                                            <option value="082">Keystone Bank</option>
                                            <option value="033">United Bank of Africa (UBA)</option>
                                            <option value="232">Sterling Bank</option>
                                            <option value="070">Fidelity Bank</option>
                                            <option value="215">Unity Bank</option>
                                            <option value="057">Zenith Bank</option>
                                        </select>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="mobile">Mobile Number </label>
                                        <input type="text" pattern = "^[0]\d{10}$" maxlength="11" class="form-control" id="mobile" placeholder="090xxxxxxxx" required>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="amount">Amount To Recharge</label>
                                        <input type="number" class="form-control" id="amount" placeholder="100" required>
                                    </div>
                                    <div class="container justify-content-center align-items-center">
                                        <button type="submit" id="submit" class="btn btn-primary waves-effect waves-light w-100">Generate USSD</button>
                                    </div>
                                  </form>   
                                </div>
                              </div>                              
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
	{% include 'footer.html' %}
    <style>
        .ussd_code {
            background: rgba(255,255,21,0.4);
            width: 100%;
            padding: 10px 10px;
            text-align: center;
            color: #000;
            font-weight: 700;
            border-radius: 4px;
            border: 1px inset #000;
            font-size: 24px;
        }
    </style>

    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script>
        $('#manual').on('submit', function(e){
            e.preventDefault();

            $.ajax({
                type : "POST",
                url: "{% url 'gen_ussd' %}", /* django ajax posting url  */
                data: {
                    bank : $('#bank').val(),
                    amount : $('#amount').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",

                },
                beforeSend(){
                    // console.log(new FormData());
                    $("#submit").text("Please wait...");
                    $("#submit").attr("disabled", "disabled");
                },
                
                success: function(data){
                    $("#submit").text("Generate USSD");
                    $("#submit").removeAttr("disabled");
                    if (data.error){
                        $('#manual').find('.alert').removeClass('alert-success');
                        $('#manual').find('.alert').removeClass('none');
                        $('#manual').find('.alert').addClass('alert-warning');
                        $('#output').html(data.error) /* response message */
                    }
                    else{
                        $('#manual').find('.alert').removeClass('alert-warning');
                        $('#manual').find('.alert').removeClass('none');
                        $('#manual').find('.alert').addClass('alert-success');
                        $('#output').html(data.message) /* response message */
                        $("#code_ussd").removeAttr("style");
                        $("#ussd_code").val(data.ussd_code);
                    }
                    
                },

                error: function() {
                    $("#submit").text("Generate USSD");
                    $("#submit").removeAttr("disabled");
            //       console.log(typeof(data.msg));
                    // $('.alert').html(data.msg+"hello")
                    
                }


            });
        });

        $("#clickCopy").on("click", function(){
            var txtToCopy = $("#ussd_code").val();
            navigator.clipboard.writeText(txtToCopy).then(function() {
                alert('copied successfully');
                }, function(err) {
                alert('Could not copy text: ', err);
            });
        });
    </script>
</div>

{% endblock %}
