{% extends 'app.html' %}

{% block body %}
{% load humanize %}
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Transaction</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item active">Welcome to your transaction page</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">My Transactions</h4>
                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Refrence</th>
                                                        <th>Amount</th>
                                                        <th>Payment Status</th>
                                                        <th>Request</th>
                                                        <th>Pre Balance</th>
                                                        <th>Post Balance</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pay in pay_history %}
                                                    <tr>
                                                        <td><a href="javascript: void(0);" class="text-body font-weight-bold">#{{ pay.paystack_charge_id }}</a> </td>
                                                        <td>
                                                            ₦{{ pay.amount|intcomma }}
                                                        </td>
                                                        <td>
                                                            {% if pay.paid == True %}
                                                                <span class="badge badge-pill badge-soft-success font-size-12">Success</span>
                                                            {% else %}
                                                                <span class="badge badge-pill badge-soft-danger font-size-12">Failed</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if pay.purpose == 'wallet' %}
                                                                Wallet funding
                                                            {% elif pay.purpose == 'airtime' %}
                                                                Airtime Purchased
                                                            {% elif pay.purpose == 'datas' %}
                                                                Data Purchased
                                                            {% elif pay.purpose == 'bill' %}
                                                                Bill Settlement
                                                            {% elif pay.purpose == 'other' %}
                                                                Other Bill Settlement
                                                            {% else %}
                                                                No Purpose for this transaction
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            ₦{{ pay.prev_amt|intcomma }}
                                                        </td>
                                                        <td>
                                                            ₦{{ user_wallet|intcomma }}
                                                        </td>
                                                        <td>
                                                            {{ pay.date.date }} <br/>
                                                            {{ pay.date.time }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
	{% include 'footer.html' %}
</div>

{% endblock %}




























{% comment %}  {% endcomment %}
{% comment %} {% extends "shared/base.html" %} {% endcomment %}
{% comment %} {% load static %} {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} {% block title %} {% endcomment %}
  {% comment %} Transaction Records {% endcomment %}
{% comment %} {% endblock title %} {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} {% block maintwo %} {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} <section class="seesales"> {% endcomment %}
  {% comment %} <div class="container"> {% endcomment %}
    {% comment %} <h3 class="text-center mt-5">Transactions History</h3> {% endcomment %}
    {% comment %} <div class="row"> {% endcomment %}
      {% comment %} <div class="col-sm-12"> {% endcomment %}
       {% comment %} {% if allhistory %} {% endcomment %}
       {% comment %} <table class="table table-hover"> {% endcomment %}
        {% comment %} <thead class="thead-dark"> {% endcomment %}
          {% comment %} <tr class=""> {% endcomment %}
            {% comment %} <!-- <th scope="col">Customer</th> --> {% endcomment %}
            {% comment %} <th scope="col">Reference Code</th> {% endcomment %}
            {% comment %} <th scope="col">Card Number</th> {% endcomment %}
            {% comment %} <th scope="col">Volume</th> {% endcomment %}
            {% comment %} <th scope="col">Amount</th> {% endcomment %}
            {% comment %} <th scope="col">Status</th> {% endcomment %}
            {% comment %} <th scope="col">Pre_bal</th> {% endcomment %}
            {% comment %} <th scope="col">Post_bal</th> {% endcomment %}
            {% comment %} <th scope="col">Date</th> {% endcomment %}
          {% comment %} </tr> {% endcomment %}
        {% comment %} </thead> {% endcomment %}
        {% comment %} <tbody> {% endcomment %}
{% comment %}  {% endcomment %}
          {% comment %} {% for item in allhistory %} {% endcomment %}
          {% comment %} <tr class=""> {% endcomment %}
            {% comment %} <!-- <td class="intra">{{item.user.username}}</td> --> {% endcomment %}
            {% comment %} <td>{{item.reference_id }}</td> {% endcomment %}
            {% comment %} <td>{{item.volume}}</td> {% endcomment %}
            {% comment %} <td>{{item.card_number}}</td> {% endcomment %}
            {% comment %} <td>{{item.amount}}</td> {% endcomment %}
            {% comment %} <td>{{item.status}}</td> {% endcomment %}
            {% comment %} <td>{{item.prebal}}</td> {% endcomment %}
            {% comment %} <td>{{item.postbal}}</td> {% endcomment %}
            {% comment %} <td>{{item.date}}</td> {% endcomment %}
          {% comment %} </tr> {% endcomment %}
          {% comment %} {% endfor %} {% endcomment %}
        {% comment %} </tbody> {% endcomment %}
      {% comment %} </table> {% endcomment %}
       {% comment %} {% else %} {% endcomment %}
         {% comment %} <p> {% endcomment %}
           {% comment %} <h4 class="bg-danger text-white p-4 ">No Record as at now</h4> {% endcomment %}
         {% comment %} </p> {% endcomment %}
       {% comment %} {% endif %} {% endcomment %}
       {% comment %}  {% endcomment %}
      {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
  {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} </section> {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} {% endblock maintwo %} {% endcomment %}


